
body{
    width:960px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: auto;
    padding:10px;
    background: #555;
    overflow: auto;
}
header, nav,section,footer,aside{
    background: rgb(230, 207, 207);
    color: #777;
    content: #3f0b0b;
}
header,nav,footer{
    padding: 15px;
    margin: 10px 0 10px 0;
    height: 80px;
    text-align: center;
}
article{
    background: #777;
    color: white;  
    margin: 30px 0 10px 0;
    padding: 20px 0 auto 0;
    text-align: center; 
    height: 200px;
}
.se{
    text-align: center;
    padding: 10px 0 10px 0;
}
.ar{
    margin: 40px 5px 10px 5px;
    padding: 5px;
    background: white;
    color:#666;
}
section{
    width: 495px;
    float: left;
    margin: 0px 15px 0px 0;
    height: 300px;
}
aside{
    float: left;
    width: 450px;
    height: 300px;
    text-align: center;
    margin: 0px 0px 0px 0px;
    
}
.clear{
    display: inline-block;
    clear: both;
}
